<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psi.ciclodias">
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CicloDias">

        <activity
            android:name=".ResultsTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".InProgressTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".PausedTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".StartTrainingActivity"
            android:exported="false"
            android:parentActivityName=".MainPageActivity"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigurationsActivity"
            android:exported="false" />
        <activity
            android:name=".MainPageActivity"
            android:exported="false" />
        <activity
            android:name=".RegistryActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>